/*Ajustes en la barra de navegacion faltan detalles
   Los colores no me convencen, tengo que verlos mas adelante, las convinaciones*/
.barra_navegadora{
    font-size: 50px;
    background-color: chocolate;
    color:white;
    display: block;
    text-align: center;
    border-radius: 20px;
    padding-left: 10px;
    margin: 0px;
    margin-bottom: 0px;
}
.titulos_navegadores{
    margin-left: 50%;
}
.barra_navegadora__superior-1{
    color:black;
}
.barra_navegadora__superior{
    display: inline-block;
    font-size:small;
    margin-left: 10px;
    margin-right: 0px;
    border-radius: 10%;
    padding-bottom: 30px;

}



/*Ajuste en el MENU,SECCTION Y ARTICLE VER BIEN LOS TAMAÑOS Y LETRAS*/

/*COMENZAMOS CON EL TITULO*/
.welcom{
    font-size: 35px;
    margin-top:0px;
}
.welcom__title{

    font-size: 2em;
    color: black ;
    font-family: 'Tapestry', cursive;
    font-weight: 50;
    text-align: center;
    background-color: chocolate;
    padding: 10px;
    border-radius: 20px;
}








.comienzo{
    font-size: 20px;
}
.comienzo__1{
    font-size: 2em;
    color:green;
    font-family: cursive;
}
.comienzo__1--parrafo{
    font-size: 1em;
    color: black;
}
.end{
    font-size: 10px;
}
.end__1{
    font-size: 4em;
    color:black;
    font-weight: 00;
    font-family: cursive;
}
.end__1--nuevo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
}
.end_end{
    font-size: 50px;
}
.end_end__folder{
    font-size: 5em;
    background-color: lime;
}