                /*CUERPO DE TODA LA PAGINA*/


body{
    background-color: chocolate;
    margin: 0px;
    }

header{
       margin-bottom: 0px;
       overflow: hidden;
      }



             /*BARRA DE INICIO*/



.barra_navegadora{
    font-size: 50px;
    background-color: chocolate;
    color:white;
    display: block;
    text-align: center;
    border: 15px double grey;
    padding-left: 10px;
    margin: 0px;
    margin-bottom: 0px;
}
a{
    color:black;
}
.titulos_navegadores{
    margin-left: 35%;
    text-align: center;
    padding-bottom: 30px;
}
.barra_navegadora__superior{
    display: inline-block;
    font-size:medium;
    margin-left: 10px;
    margin-right: 0px;
    border-radius: 10%;
    border: 3px solid grey;
    margin-left: 5px;
    padding: 15px 10px;

    /*padding-top: 5px;
    padding-bottom: 5px;*/

}
.barra_navegadora__superior :hover{
    background-color: white;
    color: #111;
}



                /* MAIN*/


article{                                /*  Comenzamos con el titulo*/
    margin-top: 0px;
}

.welcom{
    font-size: 35px;
    margin-top:0px;
}
.welcom__title{

    font-size: 2em;
    color: black ;
    font-family: 'Tapestry', cursive;
    font-weight: 50;
    text-align: center;
    background-color: grey;
    padding: 10px;
    border-radius: 50px;
    border: 10px  #111;
    border-style: solid;
    box-shadow: 10px 10px  45px #111, -10px -10px 45px #111  ; 
     
    
}


.comienzo{
    font-size: 20px;
    text-align: center;
    
}
.comienzo__1{
    font-size: 2em;
    color: black;
    font-family: cursive;
}
.comienzo__1--parrafo{
    font-size: 1em;
    color: black;
    background-color: grey;
}



                /*  BARRA FINAL */



.barra_final{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
}
.barra_final__footer__titulo{
    font-size: 2em;
    font-family: cursive;
    text-align: center;
    padding: 10px;
}
.barra_final__footer__contacto{
    padding-top: 10px;

}